/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #004080;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
   
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
  }
  
  
  .changetheme a{
    padding: 14px 16px;
  }
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  