cards-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 200px;
    width: 120px;
    background-color: white;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 25), 0 10px 10px rgba(0, 0, 0, 25);
  }
  .image-wrapper {
    width: 110px;
    height: 90px;
    text-align: center;
    padding: 5px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }