html,
body {
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.changetheme {
  float: left;
  
 
}
.changetheme img{
  width: 30px;
  position: fixed;
  padding: 10px;
}
.changetheme img:hover{
  background: #ddd;
  color: black;
}